.structured-query {
    &__child {
        padding-left: 0.5em;
    }
}

.layers {
    position: relative;

    &-layer {
        margin: 0;
    }

    &-highlight {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;

        /* Don't bother showing this text */
        color: rgba(0, 0, 0, 0);
    }
}

.layers-highlight-0 .highlight {
    background-color: rgba(255, 0, 0, 0.5);
}

.layers-highlight-1 .highlight {
    background-color: rgba(0, 255, 0, 0.5);
}

.layers-highlight-2 .highlight {
    background-color: rgba(0, 0, 255, 0.5);
}

.layers-highlight-3 .highlight {
    background-color: rgba(255, 255, 0, 0.5);
}

.layers-highlight-4 .highlight {
    background-color: rgba(0, 255, 255, 0.5);
}

.layers-highlight-5 .highlight {
    background-color: rgba(255, 0, 255, 0.5);
}
