{
  "plugins": ["@babel/proposal-object-rest-spread"],
  "presets": [
    ["@babel/env", {
      "targets": {
        "browsers": "last 2 versions, not ie < 11",
      },
      "modules": false,
    }],
    "@babel/react",
  ],
}
